.mark-error {
  background-color: #ff4136;
  border-bottom: none !important;
  color: white;
  font-weight: 500;
  padding: .2em;
  text-decoration: none !important;
}

.not-full-width {
  max-width: 800px;
}

.conversion-row {
  padding-bottom: 20px;
  padding-top: 20px;
}

.global-errors {
  margin-top: 22px;
  max-width: max-content;
}

.global-errors ul {
  padding-right: 40px;
}
