      </div>
      <hr/>
      <div class="footer" style="margin-bottom: 40px;">
        <p class="text-center">
          <small>Sources of&nbsp;<a href="https://clarus.github.io/coq-of-ocaml/">coq-of-ocaml</a> are on&nbsp;<a href="https://github.com/clarus/coq-of-ocaml">GitHub</a>. © Guillaume Claret.</small>
        </p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="<%= root%>js/bootstrap.min.js"></script>
    <script src="<%= root%>js/favicon.js"></script>
  </body>
</html>
