opam*/
a.out
*.aux
*.annot
*.cmo
*.cma
*.cmi
*.cmt
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.native
*.vo
*.glob
*.v.d
.coqdeps.d
Makefile.conf
_build/
smartPrint/*.v
smartPrint/*.monadise
\#*\#
OCaml/Makefile
tests/extraction
