opam*/
a.out
*.aux
*.annot
*.cmo
*.cma
*.cmi
*.cmt
*.cmly
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.native
*.vo
*.vok
*.vos
*.glob
*.v.d
.coqdeps.d
.Makefile.d
Makefile.conf
_build/
\#*\#
proofs/Makefile
tests/extraction
.merlin
coq-of-ocaml.install
