<%= header("", nil) %>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Coq of OCaml</h2>
    <p>Some demos of the current development version of <a href="https://github.com/clarus/coq-of-ocaml">coq-of-ocaml</a>. Write at <code>web [at] clarus [dot] me</code> for more information. Work currently made at <a href="https://www.nomadic-labs.com/">Nomadic Labs</a>.</p>
    <dl>
      <dt><a href="kernel/">Kernel of Coq</a></dt>
      The heart of the <a href="https://coq.inria.fr/">Coq</a> system.
      <dt><a href="tezos/">Tezos</a></dt>
      The sources of <a href="https://tezos.com/">Tezos</a>, a crypto-currency with smart-contracts and an upgradable protocol.
    </dl>
  </div>
  <div class="col-md-3"></div>
</div>
<%= footer("") %>
