<%= header("", nil) %>
<div class="row center-block not-full-width">
  <div class="col-md-12">
    <h2>Coq of OCaml <small>Examples</small></h2>
    <p>Here we present some examples of the development version of <a href="https://github.com/clarus/coq-of-ocaml">coq-of-ocaml</a>. Write at <code>web [at] clarus [dot] me</code> for more information. This work is currently made at <a href="https://www.nomadic-labs.com/">Nomadic Labs</a> in Paris. We use <code>coq-of-ocaml</code> to verify the implementation of the protocol of the crypto-currency <a href="https://tezos.com/">Tezos</a>, amounting to around 40.000 lines of <a href="https://ocaml.org/">OCaml</a>. To work at Nomadic Labs, see our <a href="https://www.nomadic-labs.com/jobs.html">jobs page</a>.</p>

    <h3>Examples</h3>
    <ul>
      <li><a href="kernel/">the kernel of Coq</a> (for show)</li>
      <li><a href="tezos/">the protocol of Tezos</a> (active development)</li>
      <li><a href="tezos-interface/">the interface of the protocol of Tezos</a> (done)</li>
    </ul>
  </div>
</div>
<%= footer("") %>
